html[data-theme='classic-light'] {
  --fp-bg: #f6f6f6;
  --fp-nav: #ffffff;
  --fp-card: #ffffff;
  --fp-text: #333333;
  --fp-muted: #999999;
  --fp-primary: #69aa69;
  --fp-link: #4183c4;
  --fp-border: #eee;
  --fp-hover: #fafafa;
  --fp-self: #d7efe9;
  --fp-green: #69aa69;
  color-scheme: light;
}
